<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category   label="30000">
      <setting label="30001" type="bool"   id="DOWNLOAD_ASSETS"       default="true" />
      <setting label="30002" type="bool"   id="LINK_LIBRETRO_CORES"   default="true" />
   </category>
</settings>
